@tailwind base;
@tailwind components;
@tailwind utilities;


/* background: var(--white-color);
clip-path: polygon(100% 100%, 100% 150px, 0 100%);
color: var(--secondary-color);
top: 1px;
bottom: -1px;
right: 0;
left: auto;
text-align: right;
min-width: 680px;
min-height: 680px;
padding: 100px 100px 50px 100px; */